In [13]:
import pandas as pd

In [17]:
abspath = '/Users/spencerbertsch/Desktop/winequality-red.csv'
df = pd.read_csv(abspath, sep=';')

In [18]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
[col for col in df.columns]

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [21]:
predictors: list = ['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide',
 'density', 'pH', 'sulphates', 'alcohol']
response: list = ['quality']

# define our features and labels
X = df[predictors]
y = df[response]

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=23)

In [23]:
X_train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
139,7.8,0.56,0.19,2.0,0.081,17.0,108.0,0.99620,3.32,0.54,9.5
1469,7.3,0.98,0.05,2.1,0.061,20.0,49.0,0.99705,3.31,0.55,9.7
432,11.9,0.37,0.69,2.3,0.078,12.0,24.0,0.99580,3.00,0.65,12.8
1295,6.6,0.63,0.00,4.3,0.093,51.0,77.5,0.99558,3.20,0.45,9.5
715,7.2,0.49,0.18,2.7,0.069,13.0,34.0,0.99670,3.29,0.48,9.2

In [31]:
from sklearn.ensemble import GradientBoostingClassifier
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,
    max_depth=5, random_state=0).fit(X_train, y_train)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [24]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train) # Note: x_0 =1 is no need to add, sklearn will take care of it.

LinearRegression()

In [25]:
pd.DataFrame(lin_reg.coef_).T

           0
0   0.012773
1  -1.165502
2  -0.252890
3   0.021531
4  -1.605481
5   0.003421
6  -0.003110
7  -7.480351
8  -0.455111
9   0.846634
10  0.278801

In [26]:
list(lin_reg.intercept_) + list(lin_reg.coef_)

[11.89016296850894,
 array([ 1.27726671e-02, -1.16550234e+00, -2.52889885e-01,  2.15305926e-02,
        -1.60548081e+00,  3.42075613e-03, -3.11041026e-03, -7.48035124e+00,
        -4.55110995e-01,  8.46633536e-01,  2.78801039e-01])]

In [27]:
Beta = list(lin_reg.coef_[0])

In [30]:
# sklearn regression module
y_pred = lin_reg.predict(X_test)

#Evaluvation: MSE
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_pred, y_test)

# R_square
R_square_sk = lin_reg.score(X_test, y_test)
print('The Mean Square Error(MSE) or J(theta) is: ',mse)
print('R square obtain for scikit learn library is :',R_square_sk)

The Mean Square Error(MSE) or J(theta) is:  0.3621492674185538
R square obtain for scikit learn library is : 0.4057037662875015